// font Weights ------------>
$fontWeight_200: 200;
$fontWeight_400: 400;
$fontWeight_600: 600;
$fontWeight_700: 700;

// colors ------------------>
$colorMainPurple: #8733d1;
$colorPurpleActive: #7329b3;
$colorWhite: #ffffff;
$colorInputTxt: #572b8380;
$colorShadowBox: #40397c66;
$colorInfBackground: #fffaee;
$colorErrBackground: #ffe3e3;
$colorDonBackground: #e1ffe0;
$colorInfo: #ffbf1a;
$colorError: #ff4a4a;
$colorActiveError: #dd3e3e;
$colorDone: #35d632;
$colorDisableInput: #cecece;
